#sidebar {
    position: fixed;
    width: 200px;
    height: 100%;
    background: white;
    left: -200px;
    top: 30px;
    transition: all 150ms linear;
}

#sidebar ul li {
    color: rgba(230, 230, 230, .9);
    text-align: center;
    padding: 15px 10px;
}

#sidebar .toggle-btn {
position: absolute;
left: 220px;
top: -20px;
cursor: pointer;
}

#sidebar .toggle-btn span {
    display: block;
    width: 40px;
    text-align: center;
    font-size: 20px;
}

#sidebar.active {
    left: 0px;
}

.logo1{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.imagenes_menu{
    width: 30px;
    height: 30px;
    display: block;
    margin: 0 auto;
    margin-bottom: 70px;
}

h1 {
    margin-left: 100px;
    margin-top: 20px;
}

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-transform:  capitalize;
    text-decoration: none;
  }
  body{
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
    background-size: cover;
    background-position:center;
  }
  .divheader{
    position: fixed;
    top: 0; left: 0; right: 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 1);
    padding: 10px 16px;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    background:#ffffff;
  }
  .divheaderlogo2{
    font-weight: bolder;
    font-size: 20px;
    color: black;
    display: inline;
  
  }

  #perfila{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-top: -60px;
    border: 2px solid black;
  }

  #main {
    transition: margin-left .5s;
    padding: 16px;
  }

  body {
    font-family: "Lato", sans-serif;
  }
  
  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: white;
    color: black;
    padding: 10px 15px;
    border: none;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

  section{
    display: flex;
    width: 500px;
    height: 500px;
    margin-bottom: 150px;
  }
  section img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: 1;
    transition: .5s ease;
  }
  section img:hover{
    cursor: pointer;
    width: 1000px;
    opacity: 1;
    filter: contrast(120%);
  }

  .sections{
    padding: 50px;
    margin-left: 70px;
  }

  #add_image{
    width: 60px;
    height: 60px;
    margin-top: 40px;
    margin-left: 570px;
  }
  #newuser {
    padding-left: 230px;
    padding-top: 15px;
    padding-bottom: 15px;
}
#button_p {
  background-color: rgb(0, 0, 0);
  color: white;
  cursor: pointer;
  height: 30px;
  width: 1000px;
  text-align: center;
  margin-left: 115px;
  padding-top: 5px;
}
.story {
  border-radius: 50%;
  margin-top: 10px;
  border: 3px solid rgb(103, 100, 100);
  height: 90px;
  width: 90px;
  margin-left: 60px;
  margin-right: 60px; 
}

#story1{
  margin-top: 10px;
  height: 90px;
  width: 90px;
  margin-left: 60px;
  margin-right: 60px;
}

#under{
  text-decoration-line: underline;
  text-align: center;
}

.t2{
  padding-bottom: 30px;
  padding-left: 300px;
  padding-right: 300px;
  padding-top: 30px;
  
}

#eperfila{
  height: 180px;
  width: 180px;
  border-radius: 50%;
  margin-left: 275px;
  margin-bottom: 30px;
}

#ebutton{
  margin-left: 39%;
  margin-bottom: 20px;
}

.lab{
  padding-left: 30px;
  margin-bottom: 20px;
}

.inp[type=text] {
  width: 100px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 15px;
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 22px 12px ;
  transition: width 0.5s ease-in-out;
  margin-left: 20px;
}

.inp[type=text]:focus {
  width: 90%;
}

#table2_ {
  margin: auto;
  margin-top: 30px;
  border: 2px solid black;
  border-radius: 4px;
}

#addimage2{
  margin: auto 0px;
  width: 50px;
  height: 50px;
  margin-left: 230px;
}

#flecha{
  width: 40px;
  height: 40px;
  margin: 20px;
}

a:visited{
  color: white;
}

#sections1{
  padding-left: 110px;
}

#fotoperfil{
  height: 300px;
  width: 300px;
  margin-left: 100px;
  background-size: cover;
  border-radius: 80%;
}

#fotoperfilradius{
  padding-left: 115px ;
}

.newstory{
  text-align: right;
}

#ftstory{
  width: 40px;
  height: 40px;
}

.about_testua{
  margin-left: 200px;
  margin-right: 200px;

}

#izenburua{
  font-size: 50px;
}

.dark-mode{
  background-color: black;
  color: white;
}

#table2_.dark-mode{
  border-color: white;
}

#fotoperfilradius{
  border-radius: white;
}

/*Like button*/

.like-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.like-btn:active{
  transform: scale(0.9, 0.9);
}
.like-btn.active{
  animation: pop 0.6s 1;
}
.like-btn path {
  fill: #767676;
}
.like-btn.active path{
  fill: #ec3e3e;
}

.clone{
  position: absolute;
  animation: moveOutwards 0.9s 1;
  opacity: 0;
}

@keyframes moveOutwards{
  from {
    opacity: 1;
    transform: translate(0 , 0);
  }
}

#homepage{
  border-radius: 20px;
  width: 300px;
  height: 40px;
  margin-left: 455px;
}

/*Boton para link*/

.button-17 {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
  margin-left: 540px;
}

.button-17:hover {
  background: #F6F9FE;
  color: #174ea6;
}

.button-17:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.button-17:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.button-17:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.button-17:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.button-17:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}